<html>
<% include ./head %>

<body>
<div id="wrapper">
<% include ./header %>

<div id="main">
	<hr>
	<h1>Sarah Lu</h1>
	<img class="sarah" src="desktop/images/sarah.jpg" alt="Sarah Lu" />
	<div class="intro">
		<p>Specialties: Buyer's Agent, Listing Agent, Short-Sale, Engineering</p>
		
		<p>I had been in Civil Engineering field for almost 20 year, getting my bachelor''s degree in wuhan University in China, and Master''s degree in Civil Engineering in Clemson University, South Carolina. I worked in local municipalities in Florida and international Civil engineering consulting firms in Florida and California. </p>

		<p>I live and work in San Jose. I have been in Bay Area since 2008, and moved away for 3 years to Seattle. Bay Area is a dream land for people with dreams, and I love to be part of your dream if owning a home or homes is one of yours. </p>

		<p>Serving your real estate needs is my passion, and what I do well. Let me know of any questions you may have, and I will strive to get the answer for you. </p>

		<p>When I am not working, I love to read, play tennis, pingpong ski and swimming. And I work out at the City Sports. I have 3 young kids and we hike a lot, as a family, and we swim together, and hang at the local parks. </p>

		<p>I want to build a better local community, which is already the most diversified and vibrant city in the whole world.  I look forward to working with you. Check out my review to see what my past clients say about me. </p>


		<p>Never too busy for referrals. </p>
	</div>
	
	
</div> <!--closing main-->

<% include ./footer %>
</div>  <!--closing wrapper-->
</body>
</html>