<html>
<% include ../mobile/head %>

<body>
<div id="wrapper">
<% include ./header %>

<div id="main">
<hr>

	
	
</div> <!--closing main-->

<% include ../mobile/footer %>
</div>  <!--closing wrapper-->
</body>
</html>