<html>
<% include ./head %>

<body>
<div id="wrapper">
<% include ./header %>

<div id="mainBuyer">
    <hr>
	<h3>Don't know where to start, book a free consultation with Sarah via email or call. </h3>

	<h4>Some criteria to consider: </h4>
	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>Home purpose: Owner occupied or investment property</p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>Target Area: City name, school district, street name etc.</p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>Target Price Range: eg 300k-600k etc.</p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>Target Home Style: Single family, townhouse, condo, multi-units, investment property</p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>Minim bedrooms and bathrooms needs?</p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>How many people in your family?</p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>How old is your kids?</p>

	<h3>Local Search</h3>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>South Bay: search home for sale in Santa Clara /San Mateo County at  <a href=" http://www.mlslistings.com" target="_blank">www.mlslistings.com</a></p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p>East Bay: search home for sale in Alameda /Contra Costa County at <a href=" http://www.bayeast.org/buysell_findahome.html" target="_blank">www.bayeast.org/buysell_findahome.html</a></p>

	<h3>National wide home search website</h3>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p><a href=" http://www.Realtor.com" target="_blank">www.Realtor.com</a></p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p><a href=" http://www.Redfin.com" target="_blank">Redfin.com</a></p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p><a href=" http://www.Movoto.com" target="_blank">Movoto.com</a></p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon" /><p><a href=" http://www.Zillow.com" target="_blank">Zillow.com</a></p><br/>

	<img class="leaf" src="desktop/images/icons/leaf.png" alt="leaf icon"/><p><a href=" http://www.Tulia.com" target="_blank">Tulia.com</a></p><br/>

	
	
</div> <!--closing main-->

<% include ./footer %>
</div>  <!--closing wrapper-->
</body>
</html>