<html>
<% include ./head %>

<body>
<div id="wrapper">
<% include ./header %>

<div id="main">
<hr><br/>
<p>Your message has been sent to Sarah. Thank you!</p>

	
	
</div> <!--closing main-->

<% include ./footer %>
</div>  <!--closing wrapper-->
</body>
</html>