<header class="headerDesktop">
	<a href="/"><img class="heart" src="images/heart.png" /></a>
</header>

<nav class="navDesktop">
	<ul>
		<li><a href="/about">About Sarah</a></li>
		<li><a href="/contact">Contact Me</a></li>
		<li><a href="/seller">For Sellers</a></li>
		<li><a href="/buyer">For Buyers</a></li>
		<li><a href="/pick">Sarah's Pick</a></li>
		<li><a href="/local">Local Fun</a></li>
	</ul>
</nav>