<html>
<% include ../mobile/head %>

<body>
<div>
<% include ./header %>

<div id="mainDesktop">
	<h1>Sarah, your favorite local real estate agent</h1>
	<img class="townhouse" src="images/townhouse.jpg" />"
</div> <!--closing main-->

<% include ../mobile/footer %>
</div>  <!--closing wrapper-->
</body>
</html>