<html>
<% include ../mobile/head %>

<body>
<div id="wrapper">
<% include ./header %>

<div id="main">
<hr><br/>
<img class="leaf" src="images/leaf.png" alt="leaf icon" />
<a href="https://www.redfin.com/CA/San-Jose/2078-Vincenzo-Walkway-95133/unit-WW/home/109234834">2078 Vincenzo Walkway, 95133</a>



	
	
</div> <!--closing main-->

<% include ../mobile/footer %>
</div>  <!--closing wrapper-->
</body>
</html>