<html>
<% include ../mobile/head %>

<body>
<div id="wrapper">
<% include ./header %>

<div id="main">
	<hr>
	<form class="seller-form" action="/sendSellerInfo" method="post" id="seller">
		
		<div class="element">
			<label>Property Address</label>
			<input type="text" name="address" required>
		</div>
		<div class="element">
			<label>Are you the owner?</label><br/>
			<input type="radio" name="owner" value="yes" required>Yes<br/>
			<input type="radio" name="owner" value="no">No
		</div>
		<div class="element">
			<label>How soon do you want to sell it?</label><br/>
			<input type="radio" name="plan" value="3 months">within 3 months<br/>
			<input type="radio" name="plan" value="6 months">within 6 months<br/>
			<input type="radio" name="plan" value="1 year">within 1 year<br/>
			<input type="radio" name="plan" value="2 years">within 2 years<br/>
			<input type="radio" name="plan" value="future">considering selling in the future<br/>
			<input type="radio" name="plan" value="no plan">no plan to sell
		</div>
		<div class="element">
			<label>First Name</label>
			<input type="text" name="first name" >
		</div>
		<div class="element">
			<label>Last Name</label>
			<input type="text" name="last name" required>
		</div>
		<div class="element">
			<label>Phone</label>
			<input type="tel" name="phone" required>
		</div>
		<div class="element">
			<label>Email</label>
			<input type="email" name="email">
		</div>
		<div class="button">
			<input type="submit" value="Submit">
		</div>
	</form>

	
	
</div> <!--closing main-->

<% include ../mobile/footer %>
</div>  <!--closing wrapper-->
</body>
</html>