*  {
margin:0 auto;
padding:0;
}

.heart {
height:25px;
margin-top: 10px;
}

.headerDesktop {
float:left;
margin-bottom:8px;
text-align:center;
color:forestgreen;
margin-bottom:15px;
}

.navDesktop {
height:20px;
float:right;
padding-top:12px;
}

.navDesktop li {
display: inline-block;
font-size: 0.8em;

}


.navDesktop li a {
padding:3px 8px 3px 8px;
color:#3a6b1d;
border: 0; 
-webkit-border-radius: 3px;    
-moz-border-radius: 3px;
border-radius: 3px; 
text-decoration: none;
}

.navDesktop li a:hover {
color:white;
background-color:#3a6b1d;
-webkit-box-shadow:3px 3px 10px 0px rgba(0, 0, 0, 0.50);  
-moz-box-shadow:3px 3px 10px 0px rgba(0, 0, 0, 0.50);   
box-shadow:3px 3px 10px 0px rgba(0, 0, 0, 0.50);
}

footer a{
clear:both;
display:block;
text-align:center;
color:#CCC;
font-size:10px;
margin-top:10px;
margin-bottom:5px;
}



/* for the home page --------------------------------*/


#mainDesktop {
margin-bottom:5px;
position:relative;
clear:both;
width:100%;
overflow:hidden;
}

#mainDesktop img {
position:absolute;
left:0;
top:0;
clear:both;
max-width:100%;
height:auto;
opacity:0.8;
filter: brightness(70%);
-webkit-filter: brightness(70%);
-moz-filter: brightness(70%);
}

#mainDesktop h1 {
color:white;
padding-top:220px;
padding-bottom:260px;
position:relative;
text-align:center;
font-size:2.5em;
z-index:2;
}


/* for the about page -----------------------------*/
#main {
clear:both;
}
#main h1 {
margin-top:20px;
margin-left:3%;
color:grey;
margin-bottom:8px;
}

.sarah {
float:left;
display:block;
width:38%;
margin-bottom:20px;
margin-left:3%;
}

.intro {
width:56%;
float:right;
margin-right: 3%;
}

#main p {
margin-left:5%;
padding-right:2px;
margin-bottom:8px;
color:#3a6b1d;
font-size:17px;
}

/* 
for the contact page --------------------------------*/

.contact-form {
    
width: 90%;
	
margin: 20px auto;

}


.element {

	
width: 100%;
	
margin-bottom: 15px;

}


label {
font-weight: 600;
	
}


.message {
	
width: 100%;
	
margin-bottom: 15px;

}



.element input[type="text"],

.element input[type="tel"],
.element input[type="email"] {

width: 100%;

min-height:20px;
}



.message textarea {
	
width: 100%;
	
height: 200px;

}




.button input {
	
float: right;

padding:5px;	
margin-bottom: 20px;
	
background:#3a6b1d;
	
border: none;
	
color: white;
	
-webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.75);
	
-moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.75);
	
box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.75);
	
border-radius: 3px;

}



.button input:hover {
	
background: forestgreen;

}

/* 
for the seller page --------------------------------*/

.seller-form {
    
width: 90%;
	
margin: 20px auto;

height: auto;
}


.element input[type="radio"] {
margin-top:5px;
}


/* 
for the pick page --------------------------------*/

.leaf {
width:18px;
margin-left:3%;
margin-top:10px;
}

/* 
for the buyer page --------------------------------*/

#mainBuyer {
margin-top:50px;
clear:both;
}

#mainBuyer h3,h4 {
margin-top: 20px;
margin-left:3%;
}

#mainBuyer p {
display:inline;
margin-left:5px;
}

#mainBuyer .leaf {
margin-left:5%;
}
