*  {
margin:0 auto;
padding:0;
}

header {
text-align:center;
color:forestgreen;
margin-bottom:15px;
}

.heart {
height:25px;
margin-top: 10px;
}


.menu-bar{
top:0;
position:fixed;
width:100%;
left:0;
height:35px;
background-color:forestgreen;

}

.home {
width:35px;
float:left;
}

.menu {
width:35px;
float:right;
}

#main {
margin-top:50px;
margin-bottom:50px;
}

footer a{
display:block;
text-align:center;
color:#CCC;
font-size:10px;
}


/* for the dropdown menu -------------------------------*/
.dropdown {
float:right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:35px;
    right: 0;
    background-color: #f1f1f1;
    width: 130px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

    display: block;
}

.dropdown-content a:hover {
background-color: forestgreen;
color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/* for the index page --------------------------*/

div#index {
max-width:300px;
}

nav {
width:250px;
}

.icon {
margin-bottom:0.5%;
width:49%;
}

.left  {
float:left;
}

.right  {
float:right;
}

.button {
max-width:100%;
}

/* for the about page -----------------------------*/

#main h1 {
margin-left:5%;
color:grey;
margin-bottom:8px;
}

.sarah {
display:block;
width:90%;
max-width:450px;
margin:0 auto 20px auto;
}

#main p {
width:90%;
padding-left:2px;
padding-right:2px;
margin-bottom:8px;
color:#3a6b1d;
font-size:17px;
}

/* 
for the contact page --------------------------------*/

.contact-form {
    
width: 90%;
	
margin: 20px auto;

}


.element {

	
width: 100%;
	
margin-bottom: 15px;

}


label {
font-weight: 600;
	
}


.message {
	
width: 100%;
	
margin-bottom: 15px;

}



.element input[type="text"],

.element input[type="tel"],
.element input[type="email"] {

width: 100%;

min-height:20px;
}



.message textarea {
	
width: 100%;
	
height: 200px;

}




.button input {
	
float: right;

padding:5px;	
margin-bottom: 20px;
	
background:#3a6b1d;
	
border: none;
	
color: white;
	
-webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.75);
	
-moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.75);
	
box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.75);
	
border-radius: 3px;

}



.button input:hover {
	
background: forestgreen;

}

/* 
for the seller page --------------------------------*/

.seller-form {
    
width: 90%;
	
margin: 20px auto;

height: auto;
}


.element input[type="radio"] {
margin-top:5px;
}


/* 
for the pick page --------------------------------*/

.leaf {
width:18px;
margin-left:15px;
margin-top:10px;
}

/* 
for the buyer page --------------------------------*/

#mainBuyer {
margin-top:50px;
margin-left:20px;
}

#mainBuyer h3,h4 {
margin-top: 20px;

}

#mainBuyer p {
display:inline;
margin-left:5px;
}
