<!doctype html>
<html>
<% include ./head %>
</head>

<body>
<div id="wrapper">
<% include ./header %>

<div id="main">


	
	
</div> <!--closing main-->

<% include ./footer %>
</div>  <!--closing wrapper-->
</body>
</html>