<!doctype html>
<html>
<% include ./head %>

<body>
<div id="wrapper">
<% include ./header %>

<div id="main">
<p>Your message has been sent to Sarah. Thank you!</p>

	
	
</div> <!--closing main-->

<footer>
<a href="https://icons8.com/">all icons are from Icons8</a>
</footer>
</div>  <!--closing wrapper-->
</body>
</html>