<header class="menu-bar">
	<a href="/">
		<img class="home" src="mobile/images/icons/home.png" alt="go to homepage" />
	</a>
	<div class="dropdown">
		<img class="menu" src="mobile/images/icons/menu.png" alt="display menu" />
		<div class="dropdown-content">
			<a href="/about">About Sarah</a>
			<a href="/contact">Contact Me</a>
			<a href="/seller">For Sellers</a>
			<a href="/buyer">For Buys</a>
			<a href="/pick">Sarah's Pick</a>
			<a href="/local">Local Fun</a>
		</div>
	</div>
</header>