<!doctype html>
<html>
<% include ./head %>

<body>
<div id="index">
<header>
<img class="heart" src="mobile/images/icons/heart.png" />
<h2>Sarah, your favorite local real estate agent</h2>
</header>

<nav>
	<a class="left icon" href="/about">
		<img class="button" src="mobile/images/icons/about.png" alt="go to about page" />
	</a>
	<a class="right icon" href="/contact">
		<img class="button" src="mobile/images/icons/contact.png" alt="go to contact page" />
	</a>
	<a class="left icon" href="/seller">
		<img class="button" src="mobile/images/icons/seller.png" alt="go to seller page" />
	</a>
	<a class="right icon" href="/buyer">
		<img class="button" src="mobile/images/icons/buyer.png" alt="go to buyer page" />
	</a>
	<a class="left icon" href="/pick">
		<img class="button" src="mobile/images/icons/pick.png" alt="go to pick page" />
	</a>
	<a class="right icon" href="/local">
		<img class="button" src="mobile/images/icons/local.png" alt="go to local page" />
	</a>
</nav>

<div id="main">
</div> <!--closing main-->

<% include ./footer %>
</div>  <!--closing wrapper-->
</body>
</html>