<!doctype html>
<html>
<% include ./head %>

<body>
<div id="wrapper">
<% include ./header %>

<div id="main">

<img class="leaf" src="images/icons/leaf.png" alt="leaf icon" />
<a href="https://www.redfin.com/CA/San-Jose/2078-Vincenzo-Walkway-95133/unit-WW/home/109234834">2078 Vincenzo Walkway, 95133</a>



	
	
</div> <!--closing main-->

<footer>
<a href="https://icons8.com/">all icons are from Icons8</a>
</footer>
</div>  <!--closing wrapper-->
</body>
</html>